<main>
    <p>The purpose of this website is to demonstrate if the word provided is a palindrome or not. A palindrome is a phrase that is spelled the same way backwards. An 
        example would be "Anna", and an example of a non palindrome is "Hello There"</p>
    <form action="/results" method="POST">
        <label for="palandrome_word">Please Enter a word</label>
        <input type="text" name="text-to-test" id="palandrome_word">
        <button type="submit">Submit!</button>
    </form>
</main>