<section>
    <form method="POST">
        <textarea rows="10" cols="70" name="phrase"></textarea>
        <button type="submit">Submit!</button>
    </form>
    <p id="error_container"></p>
</section>