<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>My Site</title>
    <link rel="stylesheet" href="/Lab 8/public/site.css">
</head>
<body>
    <nav>
    <main>
        {{{body}}}
    </main>
</body>
</html>