html,
body {
  font-size: 14pt;
}

body {
    background: #dedede;
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
}

main {
    max-width: 75%;
    margin: auto;
  }

h1 {
    text-shadow: 2px 2px 5px black;  
}

p {
    font-size: 24px;
}

a:visited{
    color:black;
}

a:hover {
    color: #42c5f4
}


.success {
    color:#28a745
}


.failure {
    color: #dc3545
}


.error {
    color: #000baf
}